<section class="todoapp">
  <header class="header">
    <div class="container">
      <h1>My Day</h1>
      <p>All my tasks in one place</p>
      <input
        type="text"
        minlength="3"
        class="new-todo"
        placeholder="Type new todo"
        autofocus
        [formControl]="newTaskCtrl"
        (keydown.enter)="changeHandler()"
      />
    </div>
  </header>
  <div class="container todoapp-wrapper">
    <!-- This section should be hidden by default and shown when there are todos -->

    <section class="main">
      <ul class="todo-list">
        @for (task of taskFilter(); track task.id;) {
        <app-todo [task]="task" [index]="$index" />
        <!-- <li
          [class.completed]="task.completed"
          (dblclick)="editTask(task.id)"
          [class.editing]="task.editing"
        >
          <div class="view">
            <input
              class="toggle"
              type="checkbox"
              [checked]="task.completed"
              (click)="toggleCheck(task.id)"
            />
            <label>{{ task.title }}</label>
           <button class="destroy" (click)="deleteTask(task.id)"></button>
          </div>
          <input
            class="edit"
            (keydown.enter)="editHandler($index, task.id, $event)"
            [value]="task.title"
          />
        </li> -->
        } @empty {
        <li>
          <div class="view">
            <label>There are no tasks here</label>
          </div>
        </li>
        }
      </ul>
    </section>
    <!-- This footer should be hidden by default and shown when there are todos -->
    @if (tasks.todos().length >0){
    <footer class="footer">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count" style="color: #333"
        ><strong>{{ taskFilter().length }}</strong>
        @if(taskFilter().length){ items }@else { item }
      </span>
      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li>
          <a
            (click)="changeFilter('all')"
            [class.selected]="todoFilter() === 'all'"
            >All</a
          >
        </li>
        <li>
          <a
            (click)="changeFilter('pending')"
            [class.selected]="todoFilter() === 'pending'"
            >Pending</a
          >
        </li>
        <li>
          <a
            (click)="changeFilter('completed')"
            [class.selected]="todoFilter() === 'completed'"
            >Completed</a
          >
        </li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <button class="clear-completed" (click)="clearCompleted()">
        Clear completed
      </button>
    </footer>
    }
  </div>
  <!-- <div class="links">
    <a href="/labs"> Labs</a>
  </div> -->
</section>
