.list-name {
  place-content: center;
  display: grid;
  gap: 5px;
}
.list-name p {
  margin: 0;
}
.img-icon {
  display: block;
  margin: 0 auto;
}
.btn-click {
  padding: 12px;
  border-radius: 12px;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: #e0e0e0;
    border: 1px solid #e0e0e0;
    transform: scale(1.04);
  }
}
section {
  margin: 15px 20px;
}
:root {
  color-scheme: light dark;
}
.box {
  display: block;
  width: 20px;
  height: 20px;
  background-color: aqua;
}
.message-error {
  opacity: 0;
  transition: all linear 0.5s;
  background-color: red;
  color: white;
}
.message-error.show {
  opacity: 1;
}
